*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#ffc38c, #ff9b40);
}